body {
    position: relative;
    scroll-behavior: smooth;
}

.dangnhap:hover {
    color: rgb(28, 39, 245);
    background-color: #fff;
}

.dangky:hover {
    color: rgb(223, 38, 38);
    background-color: #fff;
}

.bg-black {
    background-color: black;
}

.tintuc {
    text-decoration: none;
    color: black;
}

.tintuc:hover {
    color: blue;
}

.transform:hover {
    box-shadow: 0px 0px 30px gray;
    font-weight: bold;
}

.social-media {
    width: 100px;
    height: 35px;
    margin-left: 10px;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 300px;
    caret-color: black;
    transition: width 0.4s linear;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}